body {
    background-color: #fae8d2;
    color: #3b2f2f;
    font-family: 'Roboto', sans-serif;
}
.card {
    background-color: bisque;
    width: 80%;
    max-width: 900px;
    border-radius: 15px;
    border: 5px solid #d27b3f;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 25px;
    transition: all 0.3s;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid chocolate;
    display: block;
    margin: 20px auto;
    transition: all 0.3s;
}
img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}
h1 {
    color: #d27b3f;
    font-size: 60px;
    font-family: 'Georgia', serif;
    text-align: center;
}
h2 {
    color: #a0522d;
    font-size: 28px;
    margin-top: 30px;
    font-family: 'Georgia', serif;
}
h3 {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Georgia', serif;
}
p {
    margin-bottom: 15px;
    font-size: 16px;
}
a {
    color: #d27b3f;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: chocolate;
    text-decoration: underline;
}
ul li {
    list-style: none;
    background-color: white;
    border: 2px solid #d27b3f;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    transition:transform 0.3s;
}
ul li:hover {
    background-color: #fff3e6;
    transform: scale(1.1);
}

